body{
    background: #fff;
    margin: 0;
}

nav {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    opacity: 0.3;
    height: 10vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) ;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3vh;
}
nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.5em ;

}
/*content*/
header{
    width: 100%;
    height: 100vh; 
}

.bg{
    
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),
                 url(img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 90% ;
    height: 70% ;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 10px ;
    width: 25% ;
    height: 90% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s ease;
}

.box:hover{
width: 35;
height: 100%;
}

.box .image{
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .image img{
    width: 50%;

} 
.box .division{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: teal;
}

.box .text{
    width: 100%;
    height: 30%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}


.box .text p{
    width: 80%;
    height: auto;
    text-align: center;
}

/*Footer www.gets.digital*/

footer{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bgf{
    
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
                 url(img/23.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2{
    
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }


 .content2 .image {
     
     height: 40%;
     width: 100%;

    }

 .content2 .text {
       
        height: 60%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       }

form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

input[type="search"]{
    border-radius: 50px;
    padding: 2vh 3vh 2vh 3vh;
    outline: none;
    border: none;
    color: #333;
    width: 50%;
    height: 10vh;
    font-size: 1.5em;
    opacity: 0.6;
}

.title{
overflow: hidden;
height: 40%;
width: 80%;
color: #f0f0f0;
display: flex;
justify-content: center;
align-items: flex-end;
font-size: 1.3em;
}

.paragraph{
    overflow: hidden;
    height: 60%;
    width: 60%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
    text-align: center;
}
a{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
    text-align: center;
}